@import url(http://allfont.net/allfont.css?fonts=montserrat-light);
@import url(http://allfont.net/allfont.css?fonts=montserrat-bold);
@import url(http://allfont.net/allfont.css?fonts=open-sans-light);

$lv-monse-light: 'Montserrat Light', arial;
$lv-monse-bold: 'Montserrat Bold', arial;
$lv-opensans-light: 'Open Sans Light', arial;



