<!DOCTYPE html>
    <head>

        <title>Livevox</title>

        <!--META-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLESHEETS -->

        <!-- Bootstrap -->
        <!--<link rel="stylesheet"  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <link rel="stylesheet"  href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />

        <!-- Main styles-->
        <link rel="stylesheet"  href="stylesheets/styles.min.css" />

    </head>

    <body>

        <!-- dist: livevox -->
        <div class="container-fluid" ng-app="livevox.layout">
            <!-- controller: HomeController -->
            <div ng-controller="HomeController as vm" ng-init="vm.api.loadNavbarMenu()">

                <!--UPPER PANEL: MOBILE-->
                <div class="row lv-upper-panel-mobile hidden-md hidden-lg hidden-sm">

                    <div class="col-xs-1">
                        <button type="button" class=" lv-mobile-hamburguer pull-left navbar-toggle" data-toggle="collapse" data-target="#livevoxNavBar" ng-show="!vm.layout.menuMobileToggle" ng-click="vm.layout.menuMobileToggle = true">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="lv-icon-xs col-xs-1 col-xs-offset-2 text-center ">
                        <img src="img/lv-logo-xs.png">
                    </div>

                    <div class=" lv-mobile-toggle-close pull-right" data-toggle="collapse" data-target="#livevoxNavBar" ng-show="vm.layout.menuMobileToggle" ng-click="vm.layout.menuMobileToggle = false">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>

                </div>

                <!-- NAVBAR -->
                <div class="row lv-header">

                    <div>
                        <nav class="navbar navbar-default lv-navbar">

                            <!--Hidden: Mobile-->
                            <div class="navbar-header hidden-xs">
                                <img src="img/lv-logo-md.png">
                            </div>

                            <div class="collapse navbar-collapse" id="livevoxNavBar">

                                <ul class="nav navbar-nav" ng-repeat="menuItem in vm.layout.menuList.items">
                                    <li class="dropdown">

                                        <!--Main Menu Item-->
                                        <a class="dropdown-toggle lv-navbar-menu-item" data-toggle="dropdown" href="{{menuItem.url}}" target="_blank">

                                            <div>
                                                {{menuItem.label}}

                                                <!--Hidden: Mobile-->
                                                <span class="glyphicon glyphicon-chevron-right hidden-sm hidden-md hidden-lg" ng-show="menuItem.items.length > 0"></span>
                                            </div>

                                            <!--Hidden: Mobile-->
                                            <div class="lv-navbar-menu-item-underline hidden-xs"></div>
                                        </a>


                                        <!--Sub Menu Item-->
                                        <ul class="dropdown-menu" ng-show="menuItem.items.length > 0">
                                            <div ng-repeat="subMenuItem in menuItem.items" >
                                                <li><a href="{{subMenuItem.url}}">{{subMenuItem.label}}</a></li>
                                            </div>
                                        </ul>

                                    </li>
                                </ul>

                                <ul class="lv-navbar-right nav navbar-nav navbar-right hidden-xs">
                                    <div>

                                        <button type="button" class="btn btn-primary lv-header-btn">Request a Demo</button>
                                        <p> <b>Product Inquiries (866) 723-9067</b></p>

                                    </div>
                                </ul>

                                <ul class="lv-navbar-search nav navbar-nav navbar-right hidden-xs">
                                    <div>
                                        <span class="glyphicon glyphicon-search"></span>
                                    </div>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>

                <!-- CAROUSEL -->
                <div class="row" ng-show="!vm.layout.menuMobileToggle">
                    <div id="livevoxCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">


                        <!--Text-->
                        <div class="row">
                            <div class="col-lg-9 hover-slide hover lv-carousel-banner">
                                <div class="lv-carousel-maintext">
                                    <p>PRIVATE VOIP CLOUD&trade; CONTACT CENTER</p>
                                </div>
                                <div class="lv-carousel-line hidden-xs"></div>
                                <div class="lv-carousel-subtext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue leo pharetra ligula rutru hendrerit sed vel lacus. Vivamus tortor est, eleifend non imperdiet vitae egestas et lectus. Sed tort sem, interdum quis tortor a, cursus venenatis risus. Cras egetrisus elit. Integer ac tincidunt mauris.</p>
                                </div>
                            </div>

                        </div>

                        <div class="row lv-carousel-buttons ">
                            <!--Buttons-->
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <button type="button" class="btn btn-primary lv-carousel-btn-left">Learn More</button>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <button type="button" class="btn btn-primary lv-carousel-btn-right">Request a Demo</button>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Indicators -->
                            <!--Hidden: Mobile-->
                            <ol class="carousel-indicators hidden-xs" >
                                <li data-target="#livevoxCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#livevoxCarousel" data-slide-to="1"></li>
                                <li data-target="#livevoxCarousel" data-slide-to="2"></li>
                            </ol>
                        </div>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active lv-carousel-img">
                                <img src="img/lv-carousel-1-md.png" alt="office" width="1920" height="720">
                            </div>

                            <div class="item lv-carousel-img">
                                <img src="img/lv-carousel-2-md.png" alt="call center" width="1920" height="720">
                            </div>

                            <div class="item lv-carousel-img">
                                <img src="img/lv-carousel-3-md.png" alt="services" width="1920" height="720">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- FOOTER - COPYRIGHT -->
                <div class="row">
                    <div class="lv-copyright text-center">
                        <p>&copy; Copyright 2016 LiveVox, Inc. All rights reserved</p>
                    </div>
                </div>


            </div>
        </div>

        <!-- JS LIBRARIES -->

        <!-- AngularJS -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
        <script src="../bower_components/angular/angular.min.js"></script>
        <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.js"></script>-->
        <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>-->
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>

        <!-- JQuery -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap -->
        <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!--Livevox-->
        <script src="javascripts/livevox.min.js"></script>

    </body>

</html>